# Database
DATABASE_URL="postgresql://user:password@localhost:5432/undangan_digital?schema=public"

# NextAuth v5
AUTH_SECRET="ganti_dengan_secret_random_minimal_32_karakter"

# URL aplikasi
NEXTAUTH_URL="http://localhost:3000"
